<!--Agregos despues del router-outlet-->
<!--Cabeza de navegador entre paginacion-->
<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button p-2 me-3 text-light">
    <i class="fa-solid fa-bars"></i>
  </div>

  <a class="navbar-brand px-4" href="#">Pagina Principal</a>

  <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          Medicos
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a routerLink="medicos" routerLinkActive="active" class="dropdown-items">Listar Medicos</a></li>
          <li><a routerLink="registrarMedicos" routerLinkActive="active" class="dropdown-items">Registar Medicos</a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          Pacientes
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a routerLink="pacientes" routerLinkActive="active" class="dropdown-items">Listar Pacientes</a></li>
          <li><a routerLink="registarPacientes" routerLinkActive="active" class="dropdown-items">Registar Pacientes</a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          Historial
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a routerLink="historial" routerLinkActive="active" class="dropdown-items">Listar Historial</a></li>
        </ul>
      </li>

    </ul>

  </div>

</nav>

<h1 class="text-center">{{title}}</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>