<!--Agregos despues del router-outlet-->
<!--Cabeza de navegador entre paginacion-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="medicos" routerLinkActive="active" class="nav-link">
        Lista de Medicos
      </a>
    </li>
    <!--Agregado despues de crear el de registro medico-->
    <li class="nav-item">
      <a routerLink="registrarMedicos" routerLinkActive="active" class="nav-link">
        Registar Medicos
      </a>
    </li>
  </ul>
</nav>

<h1 class="text-center">{{title}}</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>