<h2 class="text-center">Lista de Historial</h2>

<div class="table-container">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Fecha Creada</th>
                <th>Diagnostico</th>
                <th>Tratamiento</th>
                <th>Nota Medica</th>
                <th>Editar</th>
                <th>Detalles</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let historial of historial">
                <td>{{historial.dateCreated}}</td>
                <td>{{historial.diagnoses}}</td>
                <td>{{historial.treatments}}</td>
                <td>{{historial.medicalNotes}}</td>

                <!--Button para las necesidades-->
                <td>
                    <button (click)="actualizarHistorial(historial.id)" class="btn btn-info">Actualizar</button>
                </td>
                <td>
                    <button (click)="verDetallesHistorial(historial.id)" class="btn btn-primary"
                        style="margin-left: 10px;">Detalles</button>
                </td>

                <td>
                    <button (click)="eliminarHistorial(historial.id)" class="btn btn-danger"
                        style="margin-left: 10px;">Eliminar</button>
                </td>

            </tr>
        </tbody>

    </table>
</div>