.table {
    border-collapse: collapse;
    width: 100%;
}

.column-header, .table tbody tr td {
    border: 1px solid #ddd; /* Color y grosor de las líneas */
    padding: 10px;
}

.table thead tr {
    background-color: #343a40; /* Color de fondo de la fila de encabezado */
    color: white; /* Color del texto del encabezado */
}
