<h2 class="text-center">Lista de Pacientes</h2>

<div class="table-container">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nombre(s)</th>
                <th>Apellido(s)</th>
                <th>F.Nacimiento</th>
                <th>Genero</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Historial Medico</th>
                <th>Editar</th>
                <th>Detalles</th>
                <th>Eliminar</th>
            </tr>

        </thead>

        <tbody>
            <tr *ngFor="let paciente of pacientes">
                <td>{{paciente.name}}</td>
                <td>{{paciente.lastName}}</td>
                <td>{{paciente.dateBirth}}</td>
                <td>{{paciente.genero}}</td>
                <td>{{paciente.address}}</td>
                <td>{{paciente.phone}}</td>
                <td>{{paciente.medicalHistory}}</td>

                <!--Button para las necesidades-->
                <td>
                    <button (click)="actualizarPaciente(paciente.id)" class="btn btn-info">Actualizar</button>
                </td>
                <td>
                    <button (click)="detallesPaciente(paciente.id)" class="btn btn-primary"
                        style="margin-left: 10px;">Detalles</button>
                </td>
                <td>
                    <button (click)="eliminarPaciente(paciente.id)" class="btn btn-danger"
                        style="margin-left: 10px;">Eliminar</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>