<div class="col-md-8 offset-md-2">

    <h3 class="text-center">Actualizacion de la Sala {{sala.id}} </h3>

    <form (ngSubmit)="onSubmit()" #salaForm="ngForm">

        <div class="form-group">
            <label>Tipo de Sala: </label>
            <select class="form-control" id="type" [(ngModel)]="sala.type" name="type" required>
                <option value="" disabled selected>Seleccione un tipo de sala por favor</option>
                <option *ngFor="let tipo of tipoSala" [value]="tipo">{{ tipo }}
                </option>
            </select>
            <div class="alert alert-danger" *ngIf="!sala.type || sala.type.length === 0">
                Seleccione un tipo de sala por favor
            </div>
        </div>

        <button class="btn btn-success" [disabled]="!salaForm.valid">Guardar Cambios</button>

    </form>

</div>