<h3>Detalles de Medicos</h3>

<div>
    <div>
        <label><b>Identificador:</b> {{medico.id}} </label>
    </div>

    <div>
        <label><b>Nombre(s):</b> {{medico.name}} </label>
    </div>

    <div>
        <label><b>Apellido(s):</b> {{medico.lastName}} </label>
    </div>

    <div>
        <label><b>Edad:</b> {{medico.age}} </label>
    </div>

    <div>
        <label><b>Especialidad</b> {{medico.especialization}} </label>
    </div>

    <div>
        <label><b>Telefono:</b> {{medico.phone}} </label>
    </div>

    <div>
        <label><b>Correo:</b> {{medico.email}} </label>
    </div>

    <div>
        <label><b>Direccion:</b> {{medico.address}} </label>
    </div>

    <div>
        <label><b>Hra Entrada:</b> {{medico.startTime}} </label>
    </div>

    <div>
        <label><b>Hra Salida:</b> {{medico.endTime}} </label>
    </div>
</div>