<div class="detalles-medico">
    <h3>Detalles del Medico</h3>

    <table>
        <tr>
            <th>Identificador</th>
            <td>{{medico.id}}</td>
        </tr>

        <tr>
            <th>Apellido(s)</th>
            <td>{{medico.lastName}}</td>
        </tr>

        <tr>
            <th>Edad</th>
            <td>{{medico.age}}</td>
        </tr>

        <tr>
            <th>Especilidad</th>
            <td>{{medico.especialization}}</td>
        </tr>

        <tr>
            <th>Telefono</th>
            <td>{{medico.phone}}</td>
        </tr>

        <tr>
            <th>Correo</th>
            <td>{{medico.email}}</td>
        </tr>

        <tr>
            <th>Direccion</th>
            <td>{{medico.address}}</td>
        </tr>

        <tr>
            <th>Hora de Entrada</th>
            <td>{{medico.startTime}}</td>
        </tr>

        <tr>
            <th>Hora de Salida</th>
            <td>{{medico.endTime}}</td>
        </tr>

    </table>
</div>