<div class="detalles-pacientes">
    <h3>Detalles del Paciente</h3>

    <table>
        <tr>
            <th>Identificador</th>
            <td>{{paciente.id}}</td>
        </tr>
        <tr>
            <th>Nombre(s)</th>
            <td>{{paciente.name}}</td>
        </tr>
        <tr>
            <th>Apellido(s)</th>
            <td>{{paciente.lastName}}</td>
        </tr>
        <tr>
            <th>F.Nacimiento</th>
            <td>{{paciente.dateBirth}}</td>
        </tr>
        <tr>
            <th>Genero</th>
            <td>{{paciente.genero}}</td>
        </tr>
        <tr>
            <th>Direccion</th>
            <td>{{paciente.address}}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{paciente.phone}}</td>
        </tr>
        <tr>
            <th>Historial Medico</th>
            <td>{{paciente.medicalHistory}}</td>
        </tr>
    </table>
</div>