<h3>Detalles del Paciente</h3>

<div>
    <div>
        <label><b>Identificador:</b> {{paciente.id}} </label>
    </div>

    <div>
        <label><b>Nombre(s):</b> {{paciente.name}} </label>
    </div>

    <div>
        <label><b>Apellido(s): </b> {{paciente.lastName}} </label>
    </div>

    <div>
        <label><b>F.Nacimiento: </b> {{paciente.dateBirth}} </label>
    </div>

    <div>
        <label><b>Genero: </b> {{paciente.genero}} </label>
    </div>

    <div>
        <label><b>Direccion: </b> {{paciente.address}} </label>
    </div>

    <div>
        <label><b>Telefono: </b> {{paciente.phone}} </label>
    </div>

    <div>
        <label><b>Historial Medico: </b> {{paciente.medicalHistory}} </label>
    </div>
</div>