<div class="detalles-historial">
    <h3>Detalles del Historial</h3>

    <table>
        <tr>
            <th>Identificador</th>
            <td>{{historial.id}}</td>
        </tr>

        <tr>
            <th>Fecha Creada</th>
            <td>{{historial.dateCreated}}</td>
        </tr>

        <tr>
            <th>Diagnostico</th>
            <td>{{historial.diagnoses}}</td>
        </tr>

        <tr>
            <th>Tratamiento</th>
            <td>{{historial.treatments}}</td>
        </tr>

        <tr>
            <th> Nota Medica</th>
            <td>{{historial.medicalNotes}}</td>
        </tr>

    </table>

</div>