<h2 class="text-center">Lista de Salas</h2>

<div class="table-container">

    <table class="table table-striped">

        <thead class="table-dark">

            <tr>
                <th>Tipo de Sala</th>
                <th>Editar</th>
                <th>Detalles</th>
                <th>Eliminar</th>
            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let salita of sala">
                <td>{{salita.type}}</td>

                <!--Button para las necesidades-->
                <td>
                    <button (click)="actualializarSalaPorID(salita.id)" class="btn btn-info">Actualizar</button>
                </td>

                <td>
                    <button (click)="detallesSalasID(salita.id)" class="btn btn-primary"
                        style="margin-left: 10px;">Detalles</button>
                </td>

                <td>
                    <button (click)="eliminarSalaPorId(salita.id)" class="btn btn-danger"
                        style="margin-left: 10px;">Eliminar</button>
                </td>

            </tr>

        </tbody>

    </table>

</div>